  <!-- Footer -->
  <div class="text-center text-lg-start text-white" style="background-color: #3e4551">

    <div class="container p-4 pb-0 text-center pb-3">

      <section>
        <div class="row">

          <!--About-->
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
            <h6 class=" titleSize text-uppercase mb-4 font-weight-bold">
              The R - Web Design
            </h6>
            <p>
              Design and construction of private and business websites.
            </p>
          </div>


          <hr class="w-100 clearfix d-md-none mt-3" />

          <!-- Contact -->
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
            <h6 class="titleSize text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p> <fa-icon class="me-2" [icon]="faHome"></fa-icon> Jerusalem, Herzel 1, Israel</p>
            <p> <fa-icon class="me-2" [icon]="faEnvelope"></fa-icon>ther@gmail.com</p>
            <p> <fa-icon class="me-2" [icon]="faPhone"></fa-icon> 050-1234567</p>
          </div>


          <hr class="w-100 clearfix d-md-none mt-3" />

          <!-- Socials -->
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
            <h6 class="titleSize text-uppercase mb-4 font-weight-bold">Follow me</h6>

            <!-- Facebook -->
            <a class="icon btn btn-primary btn-floating m-1" style="background-color: #3b5998" role="button">
              <fa-icon [icon]="faFacebookF"></fa-icon>
            </a>




            <!-- Twitter -->
            <a class="icon btn btn-primary btn-floating m-1" style="background-color: #55acee" role="button">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </a>

            <!-- Google -->
            <a class="icon btn btn-primary btn-floating m-1" style="background-color: #dd4b39" role="button">
              <fa-icon   [icon]="faGoogle"></fa-icon>
            </a>

            <!-- Instagram -->
            <a class="icon btn btn-primary btn-floating m-1" style="background-color: #ac2bac" role="button">
              <fa-icon   [icon]="faInstagram"></fa-icon>
                </a>

            <!-- Linkedin -->
            <a class="icon btn btn-primary btn-floating m-1" style="background-color: #0082ca" role="button">
              <fa-icon   [icon]="faLinkedin"></fa-icon>
                </a>

            <!-- Github -->
            <a class="icon btn btn-primary btn-floating m-1" style="background-color: #333333" role="button">
              <fa-icon   [icon]="faGithub"></fa-icon>
            </a>
          </div>
        </div>
      </section>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © All Rights Reserved To Raphael Ben-Menashe
    </div>
  </div>
