
.nav-item a {

  display: inline-block;
  position: relative;

  font-weight: 100;
  text-decoration: none;
  transition: color .4s ease-out;
  color: rgb(255, 255, 255);

  font-size: 1.5rem;
}

.nav-item a::after {
  content: "";
  border-radius: 1em;

  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0.2px;

  transition: right .4s cubic-bezier(0, .5, 0, 1);
}

.nav-item a:hover {
  color: #87cbff;
  right: 0;
}

.nav-item a:hover::after {
  right: 0;
}

